.parent {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-bottom: 0;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-top: 0;
}

/* body */
.child {
    padding: 1.5rem;
    margin-block: 4rem;
}